.container {
  position: absolute;
  z-index: 2;
  width: 21.1515625%;
  height: 11.75648148148148%;
  top: 10.26666666666667%;
  left: 73.9640625%;
  transform-origin: 61% 50%;
  animation: rotatePlanet 8s ease-in-out infinite;
}

@keyframes rotatePlanet {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 820px) {
  .container {
    top: 26.02314814814815%;
  }
}

@media (max-width: 713px) {
  .container {
    top: 35.02314814814815%;
  }
}

@media (max-width: 500px) {
  .container {
    top: 44.02314814814815%;
  }
}