.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: fit-content;
}

.image {
  position: fixed;
  top: 0;
  width: 50%;
  height: 10000px;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
}

.leftImage {
  left: 0;
  background-image: url("../assets/image/background-left.svg");
  background-position: left top;
}

.rightImage {
  right: -5px;
  background-image: url("../assets/image/background-right.svg");
  background-position: right top;
}