.TEST-BLOCK {
  width: 100px;
  height: 500px;
  background-color: #000000;
}

.awssld {
  --slider-height-percentage: 40%;
  --slider-transition-duration: 500ms;
}

.awssld__container {
  max-height: inherit;
  height: 100%;
}

.awssld__content {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
}

.slide__mobile-content{
  display: none;
}

.slide__one {
  background-image: url('./images/full/BackgroundFirst_full.svg');
}

.slide__two {
  background-image: url('./images/full/BackgroundSecond_full.svg');
}

.slide__three {
  background-image: url('./images/full/BackgroundThird_full.svg');
}

.slide__one,
.slide__two,
.slide__three {
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.slide__toys {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.slide__content {
  display: flex;
  flex-direction: column;
  width: 1400px;
  height: 70%;
  min-height: 800px;
  max-height: 850px;
  margin: 170px 0 0 0;
  background-color: rgba(0, 0, 0, 0.45);
}

.slide__cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 140px;
  width: 100%;
  height: 100%;
}

.slide__satellite-container {
  width: 40%;
  height: 50%;
}

.satellite-container__bundle {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.satellite-container__satellite {
  width: 160px;
  animation: moveSatellite 4s ease-in-out infinite;
}

@keyframes moveSatellite {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-15px, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.satellite-container__arrow {
  margin: 15px 150px;
  width: 100px;
}

.satellite-container__text {
  width: 75%;
  font-family: var(--font-family);
  font-size: 32px;
  color: var(--pure-white);
  -webkit-text-stroke: 0.3px var(--dark-night);
}

.awssld {
  --organic-arrow-thickness: 5px;
  --organic-arrow-height: 25px;
  --organic-arrow-color: var(--royal-lilac);
  --organic-arrow-border-radius: 4px;
  --slider-transition-duration: 575ms;
}

.awssld__controls button {
  top: calc(75% - (0.5 * var(--control-button-height)));
}

/*MEDIA*/
@media (max-width: 2560px) {
  .awssld {
    --slider-height-percentage: 52%;
    max-height: 1400px;
  }
}

@media (max-width: 1920px) {
  .awssld {
    --slider-height-percentage: 57%;
    max-height: 1000px;
  }
  .slide__content {
    width: 1200px;
  }
}

@media (max-width: 1366px) {
  .awssld {
    --slider-height-percentage: 50%;
    max-height: 768px;
  }

  .slide__content {
    width: 1000px;
  }

  .slide__cards-container {
    gap: 50px 50px;
    height: 70%;
  }

  .satellite-container__satellite {
    width: 100px;
  }

  .satellite-container__arrow {
    margin: 10px 95px;
    width: 80px;
  }

  .satellite-container__text {
    font-size: 26px;
  }
}

@media (max-width: 1280px) {
  .awssld {
    --slider-height-percentage: 60%;
    max-height: 768px;
  }

  .slide__one {
    background-image: url('./images/1280/BackgroundFirst_1280.svg');
  }

  .slide__two {
    background-image: url('./images/1280/BackgroundSecond_1280.svg');
  }

  .slide__three {
    background-image: url('./images/1280/BackgroundThird_1280.svg');
  }

  .slide__content {
    width: 820px;
  }
}

@media (max-width: 1200px) {
  .awssld {
    --slider-height-percentage: 56%;
    max-height: 664px;
  }
}

@media (max-width: 1024px) {
  .awssld {
    --slider-height-percentage: 75%;
    max-height: 664px;
  }

  .slide__one {
    background-image: url('./images/1024/BackgroundFirst_1024.svg');
  }

  .slide__two {
    background-image: url('./images/1024/BackgroundSecond_1024.svg');
  }

  .slide__three {
    background-image: url('./images/1024/BackgroundThird_1024.svg');
  }

  .slide__content {
    width: 746px;
    margin: 155px 0 0 0;
  }

  .satellite-container__text {
    font-size: 20px;
  }
}

@media (max-width: 820px) {
  .awssld {
    --slider-height-percentage: 115%;
    max-height: 700px;
  }

  .slide__one {
    background-image: url('./images/820/BackgroundFirst_820.svg');
  }

  .slide__two {
    background-image: url('./images/820/BackgroundSecond_820.svg');
  }

  .slide__three {
    background-image: url('./images/820/BackgroundThird_820.svg');
  }

  .slide__content {
    display: none;
  }

  .slide__mobile-content{
    display: block;
    width: 80%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.45);*/
  }

  .slide__satellite-container {
    position: relative;
    width: 80%;
    margin: 135px 65px;
    z-index: 30;
  }

  .satellite-container__satellite {
    width: 160px;
  }

  .satellite-container__arrow {
    margin: 15px 150px;
    width: 100px;
  }

  .satellite-container__text {
    position: relative;
    top: -195px;
    font-size: 32px;
    font-weight: 700;
    -webkit-text-stroke: 1px var(--dark-night);
  }

  .satellite-container__text-secondary {
    position: relative;
    top: 245px;
    width: 75%;
    font-family: var(--font-family);
    font-size: 32px;
    color: var(--pure-white);
    font-weight: 700;
    -webkit-text-stroke: 1px var(--dark-night);
    text-align: center;
  }
}

@media (max-width: 479px) {
  .awssld {
    --slider-height-percentage: 155%;
    max-height: 1000px;
  }

  .slide__one {
    background-image: url('./images/480/BackgroundFirst_480.svg');
  }

  .slide__two {
    background-image: url('./images/480/BackgroundSecond_480.svg');
  }

  .slide__three {
    background-image: url('./images/480/BackgroundThird_480.svg');
  }

  .slide__satellite-container {
    position: relative;
    width: 80%;
    margin: 135px 65px;
    z-index: 30;
  }

  .satellite-container__satellite {
    width: 160px;
  }

  .satellite-container__arrow {
    display: none;
  }

  .satellite-container__text {
    position: relative;
    top: 20px;
    font-size: 32px;
    font-weight: 700;
    -webkit-text-stroke: 1px var(--dark-night);
  }

  .satellite-container__text-secondary {
    position: relative;
    top: 245px;
    width: 75%;
    font-family: var(--font-family);
    font-size: 32px;
    color: var(--pure-white);
    font-weight: 700;
    -webkit-text-stroke: 1px var(--dark-night);
    text-align: center;
  }
}